apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-python-uycdoaru
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-python-uycdoaru:8e7e1875b6e7bbf4e8f393b53895b5916df9a7a6@sha256:a1517229fe3b1da7cc775cba69de9e33454052e9e48f4da9470ce247e5031437
          name: container-image
